<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spotify Anarchy Web Edition</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/CSS/ControlElements.css" />
    <link rel="stylesheet" href="~/Content/CSS/Site.css" />
    <link rel="stylesheet" href="~/Content/CSS/SearchWindow.css" />
</head>
<body id="body">
    <nav class="navbar" id="navbar">
        <div style="display: flex;">
            <a href="~/" class="navbar-brand">
                <img src="~/Content/Images/spotify-anarchy.logo.png" alt="su" style="height: 36px;" />
            </a>
            <!--  href="~/search" -->
            <a class="nav-link navBarLinkButton" onclick="OpenCloseCurtain('open')">
                <img src="~/Content/svg/light/ic_search.svg" alt="Suchen" />
                <b>Suche</b>
            </a>
            <a href="~/profile" class="nav-link navBarLinkButton">
                <img src="~/Content/svg/light/ic_profile.svg" alt="Profil" />
                <b>Profil</b>
            </a>

        </div>
    </nav>
    <div class="container body-content" style="margin-top: 8rem">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - Spotify Anarchy Web Edition</p>
        </footer>
    </div>

    <div class="curtain" id="curtain" style="display: none;">

        <div class="window" id="searchWindow" style="align-content: space-between;">
            <!-- Title bar -->
            <div style="display: flex; justify-content: space-between">
                <!-- Close button -->
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none" onclick="OpenCloseCurtain('close')">
                    <circle cx="6" cy="6" r="5.75" fill="#E9685D" stroke="#D05245" stroke-width="0.5" />
                </svg>

                <b style="align-content: center;">Spotify durchsuchen</b>
                <img src="~/Content/svg/light/ic_search.svg" alt="Suchen" style="filter: invert()" height="18" />
            </div>


                <div style="display: flex; align-content: space-between; margin:1.5rem 0;">
                    <input type="text" id="searchQuery" name="query" placeholder="Suchbegriff eingeben" />
                </div>

                <!-- Action buttons -->
                <div style="display: flex; justify-content: space-between">
                    <a href="~/search" style="margin: .5rem;">Suchseite öffnen</a>
                    <div>
                        <button onclick="OpenCloseCurtain('close')">Abbruch</button>
                        <button class="blueButton" onclick="RedirectToSearchView()">Suche</button>
                    </div>
                </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<script>
    // On sroll down, add 'navbar-scrolled' class to navbar
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 1) {
            document.getElementById("navbar").classList.add("navbar-scrolled");
        } else {
            document.getElementById("navbar").classList.remove("navbar-scrolled");
        }
    }

    function OpenCloseCurtain(action) {

        var window = document.getElementById("searchWindow");
        var curtain = document.getElementById("curtain");

        if (action == "open") {
            curtain.style.opacity = "0";
            window.style.scale = "0";

            setTimeout(function () { curtain.style.opacity = "1"; window.style.scale = "1"; }, 24);
            document.getElementById("curtain").style.display = "flex";

            document.getElementById("body").classList.add("blocked");

        }
        else if (action == "close") {
            curtain.style.opacity = "0";
            window.style.scale = "0";

            setTimeout(function () { curtain.style.display = "none";}, 200);
            document.getElementById("body").classList.remove("blocked");
        }
    }

    function RedirectToSearchView() {
        var query = document.getElementById('searchQuery').value;
        query = query.replace(/ /g, "+");

        let types = ["track", "album", "artist", "playlist", "show", "episode", "audiobook"].toString();
        types = types.replace(/,/g, "%2C");

        window.location.href = "/search?query=" + query + "&type=" + types + "&market=DE";
    }
</script>