
@{
    ViewBag.Title = "Inhalte durchsuchen";
}

<h2>Inhalt durchsuchen</h2>

<form asp-controller="Spotify" asp-action="Search" method="get">
    <p>
        @{
            if (ViewBag.Query != null) {
                <input type="text" name="query" placeholder="Never gonna give you up" value="@ViewBag.Query" />
            } else {
                <input type="text" name="query" placeholder="Last Christmas" />
            }
        }
        <input type="submit" value="Filter" />
        <div class="mt-2">
            <select name="type">
                <option value="track">Single</option>
                <option value="album">Album</option>
                <option value="artist">Künstler</option>
                <option value="playlist">Playlist</option>
                <option value="show">Show</option>
                <option value="episode">Episode</option>
                <option value="audiobook">Hörbuch</option>
            </select>
            <label for="market">Land: </label>
            @{
                if (ViewBag.Market != null) {
                    <input type="text" name="market" placeholder="US" value="@ViewBag.Market" style="width: 4rem" />
                } else {
                    <input type="text" name="market" placeholder="US" value="DE" style="width: 4rem" />
                }
            }
        </div>
    </p>
</form>

<hr />

@{
    try {
        if (@ViewBag.Query != null) {

            <b>Suchergebnisse für "@ViewBag.Query"</b>

            <!-- Songs area -->
            <div class="mt-4">
                <h3>Songs</h3>
                <div class="row">
                    @{
                        if (ViewBag.Songs.Count > 0) {
                            foreach (var item in ViewBag.Songs) {
                                <div class="col-2">
                                    <a href="@item.Uri" target="_blank">
                                        <img src="@item.ImageUrl" alt="@item.Name" class="img-fluid" />
                                    </a>
                                    <h4>@item.Name</h4>
                                    <p>@item.Artist</p>
                                </div>
                            }
                        } else {
                            <b>Keine Songs gefunden</b>
                        }
                    }
                </div>
            </div>


            <!-- Playlist area -->
            <div class="mt-4">
                <h3>Playlists</h3>
                <div class="row">
                    @{
                        if (ViewBag.Playlists.Count > 0) {
                            foreach (var item in ViewBag.Playlists) {
                                <div class="col-2">
                                    <a href="@item.Uri" target="_blank">
                                        <img src="@item.ImageUrl" alt="@item.Name" class="img-fluid" />
                                    </a>
                                    <h4>@item.Name</h4>
                                    <p>@item.Description</p>
                                </div>
                            }
                        } else {
                            <b>Keine Playlists gefunden</b>
                        }
                    }
                </div>
            </div>
        }
    }
    catch (Exception ex)
    {
        <div class="rounded shadow text-white py-2 px-3" style="background: red;">
            <b>Ein Fehler ist beim Laden der Seite aufgetreten</b>
            <div class="mt-2" style="background: red;">
                <b>Frontend: </b>@ex.Message<br />
            </div>
            <div class="mt-2" style="background: red;">
                <b>Backend: </b>@ViewBag.Error<br />
            </div>
        </div>
    }
}