<style>
    .hero-image {
        background-image: url('@ViewBag.User.ImageUrl');
        height: 50%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-blur {
        backdrop-filter: blur(1rem);
        background-color: rgba(255, 255, 255, 0.8);
        height: 100%;
        width: 100%;
    }

    .hero-text {
        padding: 2rem;
        text-align: center;
        color: black;
    }
</style>
@{
    ViewBag.Title = "Benutzerkontenansicht";
}

<main>
    @{
        try {

            <div class="hero-image mb-4">
                <div class="hero-blur">
                    <div class="hero-text">
                        <div class="mb-2">
                            <img src="@ViewBag.User.ImageUrl" class="h-64 w-64 rounded-circle" />
                        </div>
                        <h1>@ViewBag.User.DisplayName</h1>
                        <p><b>Spotify-ID: </b>@ViewBag.User.SpotifyId</p>
                        <p><b>Landeskennung: </b>@ViewBag.User.Country</p>
                        <a href="@ViewBag.User.SpotifyProfileUrl">
                            <button>Profil auf Spotify ansehen</button>
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="mt-4">
                <h3>Deine Playlists</h3>
                <div class="row">
                    @{
                        if (ViewBag.Playlists.Count > 0) {
                            foreach (var item in ViewBag.Playlists) {
                                <div class="col-2 bg-white">
                                    @{ string url = item.Uri.Replace("spotify:playlist:", ""); }
                                    <a href="/playlist?playlistId=@url">
                                        <button style="width: 13rem;">
                                            <img src="@item.ImageUrl" alt="@item.Name" class="img-fluid" style="width: 12rem; height: 12rem;" />
                                            <h4>@item.Name</h4>
                                            <p>@item.Description</p>
                                        </button>
                                    </a>
                                </div>
                            }
                        } else {
                            <b>Anscheinend hast du keine Playlist in deinem Spotify-Account hinterlegt</b>
                            }
                    }
                </div>
            </div>
                

        } catch (Exception ex) {
            <div class="rounded shadow text-white py-2 px-3" style="background: red;">
                <b>Ein Fehler ist beim Laden der Seite aufgetreten</b>
                <div class="mt-2" style="background: red;">
                    <b>Frontend: </b>@ex.Message<br />
                </div>
                <div class="mt-2" style="background: red;">
                    <b>Backend: </b>@ViewBag.Error<br />
                </div>
            </div>
        }
    }
</main>