
@{
    ViewBag.Title = "Inhalte durchsuchen";
}

@{
    if (ViewBag.Query == null)
    {
        ViewBag.SearchFieldStyle = "margin-top: 50%; transform: translateY(-200%); text-align: center;";
    }
    else
    {
        ViewBag.SearchFieldStyle = "";
    }
    ViewBag.SearchQueryFieldStyle = "border-radius: 2.4rem; padding: .2rem 1rem;";
}

<div style="@ViewBag.SearchFieldStyle">
    <div style="text-align: center; margin-bottom: 2rem;">
        <img src="/Content/svg/light/ic_search.svg" alt="Suchen" height="39" width="24" style="filter: invert(); margin-right: .5rem;">
        <h2>Inhalt durchsuchen</h2>
    </div>
    <div>
        <form asp-controller="Spotify" asp-action="Search" method="get">
            <p>
                @{
                    if (ViewBag.Query != null)
                    {
                        <input type="text" name="query" style="@ViewBag.SearchQueryFieldStyle" placeholder="Never gonna give you up" value="@ViewBag.Query" />
                    }
                    else
                    {
                        <input type="text" name="query" style="@ViewBag.SearchQueryFieldStyle" placeholder="Last Christmas" />
                    }
                }
                <button class="blueButton" type="submit">Suche</button>
                <div class="mt-2">
                    <select name="type">
                        <option value="track">🎶 Single</option>
                        <option value="album">💽 Album</option>
                        <option value="artist">🤵 Künstler</option>
                        <option value="playlist">📼 Playlist</option>
                        <option value="show">🎤 Podcast</option>
                        <option value="episode">🔊 Episode</option>
                        <option value="audiobook">🎧 Hörbuch</option>
                    </select>
                    <label for="market">Land: </label>
                    @{
                        if (ViewBag.Market != null)
                        {
                            <input type="text" name="market" placeholder="US" value="@ViewBag.Market" style="width: 4rem" />
                        }
                        else
                        {
                            <input type="text" name="market" placeholder="US" value="DE" style="width: 4rem" />
                        }
                    }
                </div>
            </p>
        </form>
    </div>
</div>

<hr />

@{
    try
    {

        if (@ViewBag.Query != null)
        {

            <b>Suchergebnisse für "@ViewBag.Query"</b>

            <!-- Songs area -->
            <div class="mt-4">
                <h3>Songs (@ViewBag.Songs.Count Treffer)</h3>

                <table style="width: 100%; margin-top: .8rem;">
                    <colgroup>
                        <col style="width: 64px;" />
                        <col style="width: calc(100% - 114px);" />
                        <col style="width: 150px;" />
                    </colgroup>
                    <tr style="background: #000000c2; color:azure; border-radius: .5rem .5rem 0 0">
                        <td></td>
                        <td class="text-center">
                            Titel
                        </td>
                        <td class="text-center">
                            Demo
                        </td>
                    </tr>
                    @{
                        foreach (var item in ViewBag.Songs)
                        {
                            <tr>
                                <td>
                                    <img src="@item.ImageUrl" alt="@item.Name" height="64" width="64" />
                                </td>
                                <td>
                                    <div class="ml-2" style="padding-left: 1rem">
                                        <h4>@item.Name</h4>
                                        <p>@item.Artist</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="ml-2" style="padding-left: 1rem">
                                        <audio controls>
                                            <source src="@item.PreviewUrl">
                                            Audio not supported
                                        </audio>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>

            <!-- Albums area -->
            <div class="mt-4">
                <h3>Alben (@ViewBag.Albums.Count Treffer)</h3>
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
                    @{
                        if (ViewBag.Albums.Count > 0)
                        {
                            foreach (var item in ViewBag.Albums)
                            {
                                string url = item.Uri.Replace("spotify:album:", "");
                                <a href="/album?albumId=@url">
                                    <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                        <div style="margin-bottom: .8rem;">
                                            <img src="@item.ImageUrl" class="object-fit-cover" style="height: 64px; width: 64px; border-radius: .5rem;" />
                                        </div>
                                        <div>
                                            <b>@item.Name</b>
                                        </div>
                                        <div>
                                            <span style="font-size: 1rem;">@item.Artist</span>
                                        </div>
                                    </button>
                                </a>
                            }
                        }
                        else
                        {
                            <b>Keine Alben gefunden</b>
                        }
                    }
                </div>
            </div>

            <!-- Playlist area -->
            <div class="mt-4">
                <h3>Playlists (@ViewBag.Playlists.Count Treffer)</h3>
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
                    @{
                        if (ViewBag.Playlists.Count > 0)
                        {
                            foreach (var item in ViewBag.Playlists)
                            {
                                string url = item.Uri.Replace("spotify:playlist:", "");
                                <a href="/playlist?playlistId=@url">
                                    <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                        <div style="margin-bottom: .8rem;">
                                            <img src="@item.ImageUrl" class="object-fit-cover" style="height: 64px; width: 64px; border-radius: .5rem;" />
                                        </div>
                                        <div>
                                            <b>@item.Name</b>
                                        </div>
                                    </button>
                                </a>
                            }
                        }
                        else
                        {
                            <b>Keine Playlists gefunden</b>
                        }
                    }
                </div>
            </div>


            <!-- Artists area -->
            <div class="mt-4">
                <h3>Künstler (@ViewBag.Artists.Count Treffer)</h3>
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
                    @{
                        if (ViewBag.Artists.Count > 0)
                        {
                            foreach (var item in ViewBag.Artists)
                            {
                                <a href="/artist?artistId=@item.Id">
                                    <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                        <div style="margin-bottom: .8rem;">
                                            <img src="@item.ImageUrl" alt="@item.Name" class="object-fit-cover" style="height: 64px; width: 64px; border-radius:32px;" />
                                        </div>
                                        <div>
                                            <b>@item.Name</b>
                                        </div>
                                        <div>
                                            <span style="font-size: 1rem;">@item.TotalFollowers Follower</span>
                                        </div>
                                    </button>
                                </a>
                            }
                        }
                        else
                        {
                            <b>Keine Künstler gefunden</b>
                        }
                    }
                </div>
            </div>

            <!-- Podcasts area -->
            <div class="mt-4">
                <h3>Podcasts (@ViewBag.Podcasts.Count Treffer)</h3>
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
                    @{
                        if (ViewBag.Podcasts.Count > 0)
                        {
                            foreach (var item in ViewBag.Podcasts)
                            {
                                <a href="/podcast?podcastId=@item.SpotifyId">
                                    <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                        <div style="margin-bottom: .8rem;">
                                            <img src="@item.ImageUrl" alt="@item.Name" class="object-fit-cover" style="height: 64px; width: 64px; border-radius:6px;" />
                                        </div>
                                        <div>
                                            <b>@item.Name</b>
                                        </div>
                                    </button>
                                </a>
                            }
                        }
                        else
                        {
                            <b>Keine Podcasts gefunden</b>
                        }
                    }
                </div>
            </div>
        }
    }
    catch (Exception ex)
    {
        <div class="rounded shadow text-white py-2 px-3" style="background: red;">
            <b>Ein Fehler ist beim Laden der Seite aufgetreten</b>
            <div class="mt-2" style="background: red;">
                <b>Frontend: </b>@ex.Message<br />
            </div>
            <div class="mt-2" style="background: red;">
                <b>Backend: </b>@ViewBag.Error<br />
            </div>
        </div>
    }
}