@{
    ViewBag.Title = "Home Page";
}

<main>
    <div style="margin-top: 4rem;" class="mb-4">
        @{
            if (ViewBag.UserName == null)
            {
                <h1>Herzlich Willkommen zu</h1>
                <h1>
                    <img style="margin-bottom: 8px;" src="~/Content/Images/spotify-anarchy.logo.png" alt="su" />
                    スポティファイ・アナーキー WEB Edition
                </h1>
                <div style="font-size: 10px; margin-left: 60px; margin-top: -24px;">
                    <span>supotifai anaakii (Spotify Anarchy)</span>
                </div>

                <b>Bitte melde dich an, um diese Web-App nutzen zu können.</b>
                <span>Ansonsten können nur die neusten Alben aufgelistet werden.</span><br />

                <!-- OAuth button -->
                <a class="oauth-button" href="https://accounts.spotify.com/authorize?client_id=3eac98750c8f4f4da6dbf4dc63d182b6&response_type=code&redirect_uri=https://localhost:44394/oauth&state=static&scope=user-read-private user-read-email playlist-read-collaborative playlist-read-private">
                    <img src="~/Content/Images/Spotify_OAuth_button.png" height="32" alt="Mit Spotify anmelden" />
                </a>
            }
            else
            {
                <div style="text-align: right;">

                    <h5>
                        @ViewBag.UserName
                        <img src="@ViewBag.UserImagePath" alt="Profilbild von @ViewBag.UserName" style=" height: 32px; border-radius: 16px; margin: 0 4px 4px 0;" />
                    </h5>
                    <a href="/profile">
                        <button>Mein Profil</button>
                    </a>
                    <a href="/logout">
                        <button>Abmelden</button>
                    </a>
                </div>
            }
        }
    </div>
    <div>
    </div>

    <div class="mt-4 mb-2">
        <h3>Die neusten Alben</h3>
        @{
            try {
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
                    @{
                        foreach (var item in ViewBag.NewAlbums)
                        {
                            <a href="/album?albumId=@item.Uri">
                                <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                    <div style="margin-bottom: .8rem;">
                                        <img src="@item.ImageUrl" class="object-fit-cover" style="height: 64px; width: 64px; border-radius: .5rem;" />
                                    </div>
                                    <div>
                                        <b>@item.Name</b>
                                    </div>
                                </button>
                            </a>
                        }
                    }
                </div>
            }
            catch (Exception ex)
            {
                ViewBag.Error = ex.Message;
                ViewBag.FrontendError = ex.ToString();
            }
        }
    </div>

    @{
        if (@ViewBag.Error != null || ViewBag.FrontendError != null)
        {

            <div class="rounded shadow text-white p-2" style="background: red;">
                <b>Ein Fehler ist beim Laden der Seite aufgetreten</b>
                <div class="mt-2" style="background: red;">
                    <b>Frontend: </b>@ViewBag.FrontendError <br />
                </div>
                <div class="mt-2" style="background: red;">
                    <b>Backend: </b>@ViewBag.Error <br />
                </div>
            </div>
        }
    }
</main>