@{
    ViewBag.Title = "Home Page";

    // Build OAuth link
    SpotifyAnarchyWebEdition.Models.DefaultValues defaultValues = new SpotifyAnarchyWebEdition.Models.DefaultValues();
    string oAuthLink = "https://accounts.spotify.com/authorize?client_id=" + defaultValues.ClientId + "&response_type=code&redirect_uri=" + defaultValues.RedirectUri + "&state=static&scope=" + defaultValues.Scopes;
}

<main>
    <div style="margin-top: 4rem;" class="mb-4">
        @{
            if (ViewBag.UserName == null)
            {
                <h4>Herzlich Willkommen zu</h4>
                <h1>Spotify Anarchy Web Edition</h1>

                <b>Bitte melden Sie sich an, um diese Web-App nutzen zu können.</b><br />

                <!-- OAuth button -->
                <a class="oauth-button" href="@oAuthLink">
                    <img src="~/Content/Images/Spotify_OAuth_button.png" height="32" alt="Mit Spotify anmelden" />
                </a>
            }
            else
            {
                <div style="text-align: right;">

                    <h5>
                        @ViewBag.UserName
                        <img src="@ViewBag.UserImagePath" alt="Profilbild von @ViewBag.UserName" style=" height: 32px; border-radius: 16px; margin: 0 4px 4px 0;" />
                    </h5>
                    <a href="/profile">
                        <button>Mein Profil</button>
                    </a>
                    <a href="/logout">
                        <button>Abmelden</button>
                    </a>
                </div>
            }
        }
    </div>
    <div>
    </div>

    <div class="mt-4 mb-2">
        <h3>Die neusten Alben</h3>
        @{
            try
            {
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
                    @{
                        foreach (var item in ViewBag.NewAlbums)
                        {
                            <a href="/album?albumId=@item.Id">
                                <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                    <div style="margin-bottom: .8rem;">
                                        <img src="@item.ImageUrl" class="object-fit-cover" style="height: 64px; width: 64px; border-radius: .5rem;" />
                                    </div>
                                    <div>
                                        <b>@item.Name</b>
                                    </div>
                                </button>
                            </a>
                        }
                    }
                </div>
            }
            catch (Exception ex)
            {
                ViewBag.Error = ex.Message;
                ViewBag.FrontendError = ex.ToString();
            }
        }
    </div>

    @{
        if (@ViewBag.Error != null || ViewBag.FrontendError != null)
        {

            <div class="rounded shadow text-white p-2" style="background: red;">
                <b>Ein Fehler ist beim Laden der Seite aufgetreten</b>
                <div class="mt-2" style="background: red;">
                    <b>Frontend: </b>@ViewBag.FrontendError <br />
                </div>
                <div class="mt-2" style="background: red;">
                    <b>Backend: </b>@ViewBag.Error <br />
                </div>
            </div>
        }
    }
</main>