<style>
    .hero-image {
        background-image: url('@ViewBag.User.ImageUrl');
        height: 50%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-blur {
        backdrop-filter: blur(1rem);
        background-color: rgba(255, 255, 255, 0.8);
        height: 100%;
        width: 100%;
    }

    .hero-text {
        padding: 2rem;
        text-align: center;
        color: black;
    }
</style>
@{
    ViewBag.Title = "Benutzerkontenansicht";
}

<main>
    @{
        try
        {

            <div class="hero-image mb-4">
                <div class="hero-blur">
                    <div class="hero-text">
                        <div class="mb-2">
                            <img src="@ViewBag.User.ImageUrl" class="h-64 w-64 rounded-circle" />
                        </div>
                        <h1>@ViewBag.User.DisplayName</h1>
                        <p><b>Spotify-ID: </b>@ViewBag.User.Id</p>
                        <p><b>Landeskennung: </b>@ViewBag.User.Country</p>
                        <a href="@ViewBag.User.SpotifyProfileUrl">
                            <button>Profil auf Spotify ansehen</button>
                        </a>
                    </div>
                </div>
            </div>

            <div style="margin-top: 32px;">
                <h3>Deine Podcasts, die du folgst</h3>
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
                    @{
                        if (ViewBag.Podcasts.Count > 0)
                        {

                            foreach (var podcast in ViewBag.Podcasts)
                            {
                                <a href="/podcast?podcastId=@podcast.SpotifyId">
                                    <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                        <div style="margin-bottom: .8rem;">
                                            <img src="@podcast.ImageUrl" class="object-fit-cover" style="height: 64px; width: 64px; border-radius: .5rem;" />
                                        </div>
                                        <div>
                                            <b>@podcast.Name</b>
                                        </div>
                                    </button>
                                </a>
                            }
                        }
                        else
                        {
                            <b>Anscheinend hast du keine Playlist in deinem Spotify-Account hinterlegt</b>
                        }
                    }
                </div>
            </div>

            <div style="margin-top: 32px;">
                <h3>Deine Playlists</h3>
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: .5rem;">
                    @{
                        if (ViewBag.Playlists.Count > 0)
                        {

                            foreach (var item in ViewBag.Playlists)
                            {
                                string url = item.Uri.Replace("spotify:playlist:", "");
                                <a href="/playlist?playlistId=@url">
                                    <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                        <div style="margin-bottom: .8rem;">
                                            <img src="@item.ImageUrl" class="object-fit-cover" style="height: 64px; width: 64px; border-radius: .5rem;" />
                                        </div>
                                        <div>
                                            <b>@item.Name</b>
                                        </div>
                                    </button>
                                </a>
                            }
                        }
                        else
                        {
                            <b>Anscheinend hast du keine Playlist in deinem Spotify-Account hinterlegt</b>
                        }
                    }
                </div>
            </div>

            <div style="margin-top: 32px">
                <h3>Deine Geräte</h3>
                <div style="margin-top: 8px; display: flex; flex-wrap: wrap; align-items: center; gap: .5rem;">

                    @{
                        foreach (var device in ViewBag.Devices)
                        {

                            <button class="bigBaseButton" style="min-height: 12rem; min-width: 12rem; padding: .5rem;">
                                <div style="margin-bottom: .8rem;">
                                    <img src="@device.GetIconURL()" class="object-fit-cover" style="height: 64px; width: 64px; border-radius: .5rem;" />
                                </div>

                                <div>
                                    <b>@device.Name</b>
                                </div>

                                <div>
                                    @{
                                        if (device.IsActive)
                                        {
                                            <span style="font-size: .75rem">Aktiv</span>
                                        }
                                        else
                                        {
                                            <span style="font-size: .75rem">Inaktiv</span>
                                        }
                                    }
                                </div>
                            </button>
                        }
                    }

                </div>
            </div>

        }
        catch (Exception ex)
        {
            <div class="rounded shadow text-white py-2 px-3" style="background: red;">
                <b>Ein Fehler ist beim Laden der Seite aufgetreten</b>
                <div class="mt-2" style="background: red;">
                    <b>Frontend: </b>@ex.Message<br />
                </div>
                <div class="mt-2" style="background: red;">
                    <b>Backend: </b>@ViewBag.Error<br />
                </div>
            </div>
        }
    }

    ´@ViewBag.Error´
</main>