@{
    try
    {
        ViewBag.Title = "Alben-Ansicht";

        <table style="height: 300px; width: 100%;">
            <colgroup>
                <col style="width: 300px;" />
                <col style="width: calc(100% - 450px);" />
                <col style="width: 150px;" />
            </colgroup>
            <tr>
                <td>
                    <!-- Album cover image -->
                    <img src="@ViewBag.Album.ImageUrl" alt="Albumcover für @ViewBag.Album.Name" height="300" width="300" class="shadow-lg rounded" />
                </td>
                <td>
                    <div class="ml-2" style="padding-left: 1rem">
                        <!-- Album metadata -->
                        <h1>@ViewBag.Album.Name</h1>

                        <div class="mt-1">
                            Von @ViewBag.Album.Artist
                        </div>

                        <div class="mt-1">
                            Veröffentlicht am @ViewBag.Album.ReleaseDate
                        </div>

                        <div class="mt-1">
                            <a class="oauth-button" href="@ViewBag.Album.Uri">
                                <img src="~/Content/Images/Listen_on_spotify.png" height="32" alt="@ViewBag.Album.Name" />
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <table style="width: 100%; margin-top: .8rem;">
            <colgroup>
                <col style="width: 64px;" />
                <col style="width: calc(100% - 114px);" />
                <col style="width: 150px;" />
            </colgroup>
            <tr style="background: #000000c2; color:azure; border-radius: .5rem .5rem 0 0">
                <td></td>
                <td class="text-center">
                    Titel
                </td>
                <td class="text-center">
                    Demo
                </td>
            </tr>
            @{
                foreach (var item in ViewBag.Album.Songs)
                {
                    <tr>
                        <td>
                            <img src="@item.ImageUrl" alt="@item.Name" height="64" width="64" />
                        </td>
                        <td>
                            <div class="ml-2" style="padding-left: 1rem">
                                <h4>@item.Name</h4>
                                <p>@item.Artist</p>
                            </div>
                        </td>
                        <td>
                            <div class="ml-2" style="padding-left: 1rem">
                                <audio controls>
                                    <source src="@item.PreviewUrl">
                                    Audio not supported
                                </audio>
                            </div>
                        </td>
                    </tr>
                }
            }
        </table>


    } catch (Exception ex) {

        <div class="rounded shadow text-white p-2" style="background: red;">
            <b>Ein Fehler ist beim Laden der Seite aufgetreten</b>
            <div class="mt-2" style="background: red;">
                <b>Frontend: </b>@ex.Message <br />
            </div>
            <div class="mt-2" style="background: red;">
                <b>Backend: </b>@ViewBag.Error <br />
            </div>
        </div>
    }
}
